*{
    margin: 0px;
    padding: 0px;
}


a{
    text-decoration: none;
}


#header{
    width: 100%;
    border: 1px solid black;
    padding: 15px;
    background-color: black;
}

#datos  a{
    width: 30%;
    border: 1px solid black;
    color: #72ab00;
}
#datos #nombre{
    font-size: 290%;
    font-weight: bold;
}
#datos #nombre:hover{
    text-shadow: 1px 0px 3px gray;

}
#datos #nombre span{
    color:#9a9a9a ;
}

#datos #profesion{
    font-weight: lighter;
    font-size: 120%;
}

#datos #profesion:hover{
    text-shadow: 1px 0px 3px gray;

}

#header ul{
    border: 1px solid black;
    padding: 15px;
    
}

#header ul li{
    display: block;
    float: right;
    margin-right: 15px;
}

#header ul li a{
    text-transform: uppercase;
    color: #9a9a9a;
    border-top: 1px solid #9a9a9a;
    transition: all .2s;
}

#header ul li a:hover,
#header ul  .active{
    color: #72ab00;
    border-top: 5px solid #72ab00;

}





#section{
    /* border: 1px solid black; */
    width: 90%;
    margin: 0px auto;
    margin-top: 15px;
    padding: 15px;
    height: 390px;
    background-color: #f8f8f8;
    text-align: left;
    box-shadow: 0px 0px 2px gray;
}


#section #imgContainer{
    width: 15%;
    margin-left: 2%;
    height: 100%;
    float: left;
    /* border: 5px solid black; */
}
#section #imgContainer img{
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    box-shadow: 0px 0px 5px #a6a6a6;
    transition: all .5s;
}

#section #imgContainer img:hover{
    opacity: .4;
}

#section #sectionText{
    display: block;
    float: right;
    /* border: 1px solid black; */
    width: 75%;
    margin-left: 15px;
    padding: 15px;
    background-color: #ececec;
    box-shadow: 0px 0px 5px #8a8787;
    display: block;
    height: auto;

}
#section h1{
    text-align: center;
    color: #72ab00;
    font-weight: bold;
    font-size: 25px;
}

#section p{
    margin: 15px;
    text-align: left;
    /* text-align: justify; */
    
}

#section #sectionText .button{
    color: white;
    /* border: 1px solid black; */
    background-color: #72ab00;
    width: 100px;
    display: block;
    text-align: center;
    box-shadow: 0px 1px 5px #ccc;
    margin-left: 4%;
    padding: 2px;
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    float: left;
    transition: background-color .3s;
}

#section #sectionText .button:hover{
    background-color: #679b00;
}
#section #sectionText .button:active{
    box-shadow: 0px 0px 2px black,
    0px 0px 5px black inset ;
}

#section #sectionText #botonCurriculum{
    float:right;
    /* margin-top:-4%; */
    /* margin-right: 4%; */

}
#section #sectionText #listaContacto{
    /* border: 1px solid black; */
    width: 70%;
    margin:7%;
}
#section #sectionText #listaContacto li{
    list-style: square;
}
.clearfix{
    clear: both;
}
