*{
    margin: 0px;
    padding: 0px;
}
#menu{
    height: 50px;
}
#menu ul{
    text-decoration: none;
    list-style: none;
    line-height: 50px;
}

.item{
    height: 150px;
}

footer{
    height: 50px;
    line-height: 50px;
}

.lateral{
    height: 300px;
    div{
        height: 150px;
    }
}

#nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;   

    ul{
        display: flex;
        flex-flow: row wrap;
        list-style: none;
        align-items: end;
        justify-content: space-around;    
        // height: auto;
        li{
            // display: flex;
            display: flex;
            // background-color: black;
            // height: 50px;
            a{
                text-decoration: none;
                color: white;
                transition: all .3s;
            }
            a:hover{
                color: #343a40;
            }
        }
    }
}


#listaContacto{
    margin-left: 15px;
}

@media (max-width:700px){
    #imagen{
        display: none ;
    }
}

@media (min-width:700px){
    #imagen{
        display: block;
    }
}